.App {
  text-align: center;
}
.dark {
  background-color: #000;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #000;
}

h1{
  margin-bottom: 100px;
}

span{
  font-size: 32px;
  font-weight: 700;
}
button{
  padding: 10px;
  margin: 10px;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight:600;
}
.btn-inc{
  background: green;
}
.btn-dec{
  background: blue;
}
.btn-reset{
  background: red;
}